{
    "creation_date": "25.04.2022 16:47:38",
    "last_edit_date": "25.04.2022 16:47:38",
    "sensor_list": [
        3675523769448857384
    ],
    "temp_file_path": "D:\\_GIT\\Silines-temp\\SSI.temp",
    "loggers": [
        ["TempScanner_warning.log", "WARNING"],
        ["TempScanner_debug.log", "DEBUG"]
    ],
    "reading_period": 2,
    "temp_currency": 3
}